h1 {
    background-color: black;
    color: white;
}
h2 {
    background-color: red;
}
p {
    background-color: cyan;
}

.wbdv-module-list { 
    background-color: red;
    color: blue; }
.wbdv-course-editor{
    color: white;
}
.wbdv-close{
    color: grey;
}
.wbdv-title{
    color: white;
}
.wbdv-page-tab{
    background-color: grey;
    color: blue;
}
.wbdv-new-page-btn{
    color: black;
}
.wbdv-module-item{
    background-color: red;
    color: blue;
}
.wbdv-module-item-title{
    color: black;
}
.wbdv-module-delete-btn{
    color: black;
}
.wbdv-module-add-btn{
    color: black;
}
.wbdv-topic-pill-list{
    background-color:yellow;
    color:red;
}
.wbdv-topic-pill{
    background-color: yellow;
    color: red;
}
.wbdv-topic-add-btn{
    color: black;
}
